[access]
	inheritFrom = All-Projects
[project]
	description = Temporary heatbridge used to stitch together some holes in the ecomp tests for release one.
	state = read only
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group saml/onap-gerrit-testsuite-heatbridge-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
