[access]
	inheritFrom = All-Projects
[project]
	description = Temporary heatbridge used to stitch together some holes in the ecomp tests for release one.
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group ldap/onap-gerrit-testsuite-heatbridge-committers
	owner = group saml/onap-gerrit-testsuite-heatbridge-committers
	read = group GitHub Replication
